body{
    color: white;
}

.donasicontainer{
    min-height: 95vh;
    background-image: url("../img/give_help.a10cce477cab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5vh;
}

p.donasi{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.5rem;
}

input{
    width: 100%;
}

select{
    width: 100%
}

form{
    min-width: 60%;
}