h1.setoko{
    font-size: 10em;
    color: white;
    text-align: center;
}

div.carousel-inner{
    height: 80vh;
}

div.carousel-item #carousel-1{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("/static/toko/img/carousel1.be303b20dd3d.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.carousel-item #carousel-2{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("/static/toko/img/carousel2.4807f9b91aac.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

div.carousel-item #carousel-3{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("/static/toko/img/carousel3.791af771e8ab.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white
}

div.container.kanan{
    margin-right: 20%;
}

div.container.kiri{
    margin-left: 20%;
}