*{
    margin: 0;
    padding: 0;
}

div.card-nav{
    display: flex;
    justify-content: flex-end;
}

section{
    margin-top: 50px;
}

div.card{
    margin-bottom: 15px !important;
}

div a{
    text-decoration: none !important;
}

button.btn{
    margin-bottom: 10px !important;
}