*{
    margin: 0;
    padding: 0;
}

div.card-nav{
    display: flex;
    justify-content: flex-end;
}

section{
    margin-top: 50px;
}

div.card{
    margin-bottom: 15px !important;
}

div a{
    text-decoration: none !important;
}

button.btn{
    margin-bottom: 10px !important;
}

.kategori-upper{
	background: red;
	width: 100%;
	height: 3.75rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.05);
}