.donasicontainer{
    min-height: 95vh;
    background-image: url(../img/give_help.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5vh;
    color: white;
}

p.donasi{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.5rem;
}

input{
    width: 100%;
}

.donasihelp{
    color:red;
}

select{
    width: 100%
}

form{
    min-width: 60%;
}

.total{
    padding: 25px;
}

.btndonatur{
    max-width: initial;
    border-color: #FF6633 !important;
    background-color: #FF6633 !important;
}

th{
    background-color: #FF6633 !important;
    color: black !important;
}

.searchnama{
    display: none;
    width: 50vmax;
    border-width: 2px;
}

/* mobile-version */
@media (max-width: 768px){
    h1{
        font-size: 2rem;
    }

    p.donasi{
        font-size: 1.1rem;
    }

    .row{
        margin-bottom: 15px;
    }
}