{% extends 'shared/base.html' %}

{% block title %}
Setoko | Buat Akun
{% endblock title %}

{% block content %}
<style>
    section{
        margin-bottom: 50px;
    }
</style>
<section id="register">
    <div class="container" style="max-width:60%">
        <h1 class="text-center">Buat Akun</h1>
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
            
                    <div class="form-group">
                        <label for="id_nama">Username:</label>
                        {{Form.nama}}
                    </div>
            
                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        {{Form.password}}
                    </div>
                    {% if isError %}
                        <p style="color:red">{{Error}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-block" style="background: #F63; color: white">Register</button>
                </form>
                <p>Sudah punya akun? <a href="{% url 'authuser:login' %}#login" style="color: #F63">Login</a></p>
            </div>
        </div>
    </div>

</section>
{% endblock content %}