{% extends 'shared/base.html' %}

{% block title %}
Donasi
{% endblock title %}
{% block content %}
{% load static %}
<script src="{% static 'donasi/js/donasi.js' %}""></script>
<link rel="stylesheet" href="{% static 'donasi/css/style.css' %}">
<div class="container-fluid donasicontainer  ">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        {% if donasierror %}
            <script>
                window.alert("Masukkan jumlah donasi yang sesuai")
            </script>
        {% endif %}
        <h1 class="mb-4">DONASI</h1>
        <p class="donasi mb-4"> Sederet dampak ditimbulkan wabah virus corona di berbagai sektor di Indonesia.
            Begitu juga sektor bisnis, bukan rahasia lagi, banyak dari perusahaan besar seperti hotel, restoran dan industri lain yang rugi bahkan gulung tikar akibat dari virus corona.
            Nasib serupa dialami oleh pelaku UKM, pedagang kecil dengan omset tak seberapa, yang dilakukan untuk menyambung hidup, kini kesulitan karena terdampak corona. Mari kita memberikan dukungan yang nyata bagi UMKM di Indonesia, mari berdonasi pada mereka yang membutuhkan agar tetap bisa berproduksi, memenuhi permintaan pelanggan, dan dengan demikian karyawan UMKM bisa hidup layak. Mari berbuat baik selagi masih ada kesempatan.</p>
            
            <form action="" method="POST">
                {% csrf_token %}
                <input name="pengirim" value="{{usernow}}" type="hidden">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="donasi">Nama Toko Tujuan</p>
                    </div>
                    <div class="col-lg-6">
                        <select name="tokotujuan" required id="id_tokotujuan" placeholder="Pilih nama toko tujuan">
                            <option value="">Pilih nama toko tujuan</option>
                            {% for user in users %}
                                {% if user.username != usernow %}
                                <option value="{{user.id}}">{{user.username}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        
                        <!-- {{formdonasi.tokotujuan}} -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4">
                        <p class="donasi">Jumlah Donasi</p>
                    </div>
                    <div class="col-lg-6">
                        {{ formdonasi.jumlahdonasi}}
                        <div class="donasihelp">
                            {{ formdonasi.jumlahdonasi.help_text}}

                        </div>
                        
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-warning float-right btndonatur" disabled> Donasi </button>
                    </div>
                </div>
            </form>
    </div>
</div>


{% endblock %}