{% extends 'shared/base.html' %}

{% block title %}
Terima kasih
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'donasi/css/style.css' %}">
<div class="container-fluid donasicontainer d-flex align-item-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div>
            <h1 class="mb-2">Terima kasih telah berdonasi.</h1>
            <p class = "text-right mb-0">"No-one has become poor by giving"</p>
            <p class = "text-right">- Anne Frank </p>
        </div>
        <a class="btn btn-warning" href="{% url 'toko:index' %}" role="button">Kembali ke Halaman Depan</a>
    </div>
</div>

{% endblock %}