{% extends 'shared/base.html' %}

{% block title %}
Donasi
{% endblock title %}
{% block content %}
{% load static %}

<script src="{% static 'donasi/js/totaldonasi.js' %}"></script>
<link rel="stylesheet" href="{% static 'donasi/css/style.css' %}">
<div class="container-fluid donasicontainer d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3 text-center">Total donasi yang telah disalurkan adalah</h1>
    <h2 class="mt-2">Rp{{total}},-</h2>
</div>
<div class="container-fluid total d-flex flex-column justify-content-center align-items-center px-4">
    <h1 class="mb-4 text-center">Terima kasih kepada para donatur</h1>
    <div class="active-pink-4 mb-4">
        <input class="form-control searchnama" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button type="button" class="btn btn-warning mb-3 btndonatur">Cari berdasarkan nama donatur</button>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Donatur</th>
            <th scope="col">Total Donasi</th>
          </tr>
        </thead>
        <tbody id="donatur">
        </tbody>
      </table>
</div>



{% endblock %}