{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
{% load humanize %}

<style>
    .footer {
        background-color: #FFFFFF;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    .sosmed {
        padding-top: 8%;
    }
    
    .informasi {
        padding-top: 5%;
    }
    
    .hubungikami {
        padding-top: 5%;
    }

    @media (max-width: 768px){
        div.barang-section{
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
    }

    .btn-checkout{
        border: 2.5px solid #FFC93C;
        color: #FFC93C;
        font-weight: 800;
    }

    .btn-checkout:hover{
        color: white;
        background: #FFC93C;
    }

    .pesanan-container{
        width: 100%;
        background: white;
        display: flex;
        margin-bottom: 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }

    .pesanan-img{
        width: 150px;
    }

    .pesanan-data {
        padding: 10px;
        width: 100%;
    }

    .pesanan-price-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pesanan-total-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cart-upper{
        width: 100%;
        height: 35px;
        background: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
</style>

<form action="{% url 'checkout:cekot' %}" method="POST" id="usrform">
{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-8 barang-section" id="informasi">
                {% for barang, jumlah, id_cart in items %}
                    <div>
                        <div class="cart-upper">
                            <input type="checkbox" hidden checked value="{{id_cart}}" class="checkmark" name="items">
                        </div>
                        <div class="pesanan-container">
                            <div class="pesanan-image">
                                <img src="{{barang.gambar.url}}" class="pesanan-img">
                            </div>
                            <div class="pesanan-data">
                                <h3>{{barang.nama}}</h3>
                                <div class="pesanan-price-container">
                                    <p>{{jumlah}}x</p>
                                    <p style="color: #ee4d2d">Rp{{barang.harga}}</p>
                                </div>
                                <br>
                                <div class="pesanan-total-container">
                                    <p style="color: black; margin-left: 10px">Total Harga &nbsp;</p>
                                    <h3 style="color: #ee4d2d">
                                        Rp {% widthratio jumlah 1 barang.harga %}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        </div>
                {% endfor %}
                <h1 style="color: #ee4d2d">Total: Rp {{total|intcomma}}</h1>
            </div>

            <div class="col-12 col-md-12 col-lg-4 col-xl-4" id="hubungikami">
                <!-- section untuk form -->
                <h2> Informasi Pengiriman </h2>
                    <div class="row">
                        <div class="col-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label for="nama"> Nama Depan</label>
                                <input type="text" class="form-control" name="nama_depan" id="nama_depan" maxlength="100" placeholder="Firstname" required>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-sm-12 col-12">
                            <div class=" form-group ">
                                <label for="text"> Nama Belakang </label>
                                <input type="text" class="form-control" name="nama_belakang" id="nama_belakang" maxlength="100" placeholder="Lastname" required>
                            </div>
                        </div>
                    </div>
                    <div class=" form-group ">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control" name="input_email_user" id="email" maxlength="100" placeholder="example@gmail.com " required>
                    </div>
                    <div class="form-group ">
                        <label for="pesan ">Alamat</label>
                        <textarea name="alamat" id="alamat" class="form-control form-control-lg" maxlength="3000" form="usrform" placeholder="address" style="height: 250px;" required></textarea>
                    </div>
                    <button>
                        <span>Beli Sekarang</span>
                    </button>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
