{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
{% load humanize %}

<style>
    .containerr {
        padding: 5em;
        background-color: #fff;
    }

    .pesanan-container{
        width: 100%;
        background: white;
        display: flex;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
    }

    .pesanan-img{
        width: 200px;
    }

    .pesanan-data {
        padding: 10px;
        width: 100%;
    }

    .pesanan-price-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pesanan-total-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

</style>

<div class="container">
    <h3> Riwayat Pembelian {{ idpembeli }}</h5>
    {% for pesanan in allData %}
        <div class="pesanan-container">
            <div class="pesanan-image">
                <img src="{{pesanan.item.gambar.url}}" class="pesanan-img" alt="">
            </div>
            <div class="pesanan-data">
                <h3>{{pesanan.item.nama}}</h3>
                <div class="pesanan-price-container">
                    <p>{{pesanan.jumlah}}x</p>
                    <p style="color: #ee4d2d">Rp{{pesanan.item.harga}}</p>
                </div>
                <br>
                <div class="pesanan-total-container">
                    <p style="color: black; margin-left: 10px">Total Pesanan &nbsp;</p>
                    <h3 style="color: #ee4d2d">
                        Rp {% widthratio pesanan.jumlah 1 pesanan.item.harga %}
                    </h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
