.detail-terimakasih {
    min-height: 95vh;
    background-image: url("../img/online-event.a839c52fb11d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5vh;
}

#jumbo {
    /* IE8 and below */
    background: rgb(229, 255, 255);
    /* all other browsers */
    background: rgb(229, 255, 255, 0.68);
}

.caro-font {
    font-size: 6.290956749672346vh;
    font-weight: bold;
    color: #04000d;
    padding-bottom: 5%;
}

#container-terimakasih {
    text-align: center;
}