.detail-terimakasih {
    min-height: 95vh;
    background-image: url(../img/online-event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5vh;
}

.testimonicontainer {
    min-height: 95vh;
    background-image: url(../img/GettyImages-521813417-58da93ae5f9b5846836093eb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5vh;
}

#jumbo {
    /* IE8 and below */
    background: rgb(229, 255, 255);
    /* all other browsers */
    background: rgb(229, 255, 255, 0.68);
}

#jumbo-testimoni {
    /* IE8 and below */
    background: rgb(229, 255, 255);
    /* all other browsers */
    background: rgb(229, 255, 255, 0.6);
}

.caro-font {
    font-weight: bold;
    color: #04000d;
    padding-bottom: 1%;
}

#container-terimakasih {
    text-align: center;
}


/* responsive */