{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
{% load humanize %}

<style>
    p{
        font-size: 15px;
        margin-left: 30px;
    }

    .ammount-button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }  

    .ammount-button{
        outline: none;
        cursor: pointer;
        font-size: .875rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border: 1px solid rgba(0,0,0,.09);
        border-radius: 2px;
        background: transparent;
        color: rgba(0, 0, 0, 0.8);
        width: 32px;
        height: 32px;
        box-shadow: none;
    }

    div.input-quantity{
        display: flex;
    }

    .svg-icon{
        font-size: 10px;
        width: 10px;
        height: 10px;
        display: inline;
    }

    .ammount-input{
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        width: 50px;
        height: 32px;
        border-left: none;
        border-right: none;
        font-size: 16px;
        font-weight: 400;
        box-sizing: border-box;
        text-align: center;
        cursor: text;
        border-radius: 0;
    }

    .keranjang-button {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin-right: 15px;
        min-width: 11.25rem;
        padding: 0 .75rem;
        font-size: 14px;
        color: #ee4d2d;
        background: rgba(255,87,34,.1);
        border: 1px solid #ee4d2d;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    }

    .keranjang-button span{
        color: #ee4d2d !important;
    }

    svg.cart-icon {
        color: #ee4d2d;
        stroke: #ee4d2d;
        fill: #ee4d2d;
        widht: 1em;
        height: 1em;
    }

    .overlay{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    .overlay-item{
      width: 50%;
      background-color: white;
      text-align: center;
      position: relative;
      padding-top: 3%;
      padding-bottom: 3%;
      border-radius: 8px;
    }

</style>
<link rel="stylesheet" href="{% static 'toko/css/style.css' %}">
<section id="Detail">
    <div class="container item-container" style="background-color: white; padding-top: 20px">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12 item-container">
                <img src="{{barang.gambar.url}}" style="width: 90%">
            </div>
            <div class="col-md-6 col-sm-6 col-12 item-container">
                <h3>{{barang.nama}}</h3>
                <br>
                <h1 style="color: #ee4d2d">Rp{{barang.harga|intcomma}}</h1>
                <br>
                <h5>Deskripsi:</h5>
                <h6>{{barang.deskripsi}}</h6>
                <br>
                {% if barang.penjual.id != user.id %}
                <div class="_19lAw4 input-quantity">
                    <button class="ammount-button" onclick="clickDecButton(event)" style="padding:0">
                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="svg-icon ">
                            <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5">
                                
                            </polygon>
                        </svg>
                    </button>
                    <input type="number" min="1" class="ammount-button ammount-input _18Y8Ul" type="text" value="1">
                    <button class="ammount-button" onclick="clickPlusButton(event)">
                        <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="svg-icon icon-plus-sign">
                            <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                
                            </polygon>
                        </svg>
                    </button>
                </div>
                <br>
                <div class="action-container" style="display: flex">
                    <button type="button" class="keranjang-button" aria-disabled="false">
                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="cart-icon">
                            <g>
                                <g>
                                    <polyline fill="none" points=".5 .5 2.7 .5 5.2 11 12.4 11 14.5 3.5 3.7 3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                        
                                    </polyline>
                                    <circle cx="6" cy="13.5" r="1" stroke="none" fill="#ee4d2d"></circle>
                                    <circle cx="11.5" cy="13.5" r="1" stroke="none" fill="#ee4d2d">
                                        
                                    </circle>
                                </g>
                                <line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="7.5" x2="10.5" y1="7" y2="7"></line>
                                <line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="9" x2="9" y1="8.5" y2="5.5">
                                    
                                </line>
                            </g>
                        </svg>
                        <span>Masukkan Keranjang</span>
                    </button>
                    <form action="{% url 'toko:cart' %}" method="POST">
                        {% csrf_token %}
                        <button>
                            <span>Beli Sekarang</span>
                        </button>
                        <input type = "number" name="id_barang" value="{{barang.id}}" hidden>
                        <input type = "number" name="user" value="{{user.id}}" hidden>
                        <input type = "text" name="gambar" value="{{barang.gambar}}" hidden>
                        <input type = "number" name="harga" value="{{barang.harga}}" hidden>
                        <input type="number" id="menu_1" name="menu_1" min="1" class="ammount-button ammount-input _18Y8Ul" type="text" value="1" hidden>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section id="ulasan">
    <div class="container" id="ulasanBarang" style="background: white">
        <div class="ulasan_barang">
            <h3>Ulasan Produk</h3>
        {% for item in ulasan %}
            <p style='margin-bottom: 2px'>
                <b>{{item.user}}</b>
            </p>
            <p>
                {{item.ulasan}}
            </p>
        {% endfor %}
        </div>
        <br>
        {% if user.is_anonymous %}
            <p>Harap untuk melakukan <a href="{% url 'authuser:login' %}">login</a> agar dapat memberi komentar </p>
        {% else %}
            {% if barang.penjual.id != user.id %}
                <form id="ulasanForm">
                    {% csrf_token %}
                    <input for="idBarang" type = "select" name="id_barang" value="{{barang.id}}" hidden>
                    <input for="nama" type = "select" name="user" value="{{user.id}}" hidden>
                    <div class="form-group ">
                        <label for="ulasan "></label>
                        <textarea name="input_ulasan" id="pesan" class="form-control form-control-lg" maxlength="1000" form="usrform" style="height: 250px;" placeholder="Masukkan ulasan mengenai barang"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary submitUlasan" style="background-color: #ee4d2d;">Kirim Ulasan</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</section>
<script>
    function clickPlusButton(event){
        event.preventDefault();
        event.target.parentNode.querySelector("input").stepUp();
        document.querySelector("#menu_1").stepUp();
    }

    function clickDecButton(event){
        event.preventDefault();
        event.target.parentNode.querySelector("input").stepDown();
        document.querySelector("#menu_1").stepDown();
    }


    $(".keranjang-button").click(function(){
        $.ajax({
            type: "POST",
            url: "{% url 'toko:add_to_cart' %}", 
            data: {
                id_barang: "{{ barang.id }}",
                jumlah: $('#menu_1').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(){
                $("body").append(`
                <div class="overlay" onclick="turnoff()">
                    <div class="overlay-item">
                        <h1>Berhasil menambahkan ke keranjang!</h1>
                        <button id="overlay-close" onclick="turnoff()">OK</button>
                    </div>
                </div>
                `)
            }
        })
    })
    function turnoff(){
    $(".overlay").remove();
}

//ULASAN
    $(document).ready(function() {
        // form submit ajax
        $('.submitUlasan').click(function(e) {
            e.preventDefault();
            console.log($('#nama').val);
                $.ajax({
                    type: "POST",
                    url: "{% url 'detail:simpanUlasan' %}",
                    data: {
                        input_nama: $('#nama').val(),
                        id_barang_input :"{{barang.id}}",
                        input_ulasan: $('#pesan').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response) {
                        const id = '{{user.username}}'
                        $('.ulasan_barang').append(
                            `
                            <p style='margin-bottom: 2px'>
                                <b>${id}</b>
                            </p>
                            <p>
                                ${$('#pesan').val()}
                            </p>
                            `
                        )
                        $("#pesan").val("")
                    },
                });
        });
    }); 


</script>


{% endblock content %}