{% load static %}
<style>
    .footer {
        background-color: #ff6633;
        padding-bottom: 2%;
        margin-bottom: 0px !important;
    }
    
    .result-footer-kesan {
        margin-top: 5%;
    }
    
    .sosmed {
        padding-top: 8%;
    }
    
    #informasi {
        padding-top: 2%;
    }
    
    #hubungikami {
        padding-top: 2%;
    }
    
    .caro-font {
        font-weight: bold;
        color: #04000d;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    
    .overlay-item {
        width: 50%;
        background-color: white;
        text-align: center;
        position: relative;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: 8px;
    }
    
    .wrong-input-form {
        color: black;
        font-weight: bold;
    }
    
    @media screen and (max-width: 900px) and (min-width: 407px) {
        #informasi {
            padding-top: 8%;
        }
        #hubungikami {
            padding-top: 8%;
        }
    }
</style>

<section class="footer" id="footer">
    <div class="container">
        <!-- carousel -->
        <div id="carouselExampleIndicators" class=" carousel h-50 slide d-flex flex-column justify-content-center align-items-center" data-ride="carousel">
            <ol class="carousel-indicators result-footer-indicators">
            </ol>
            <div class="carousel-inner h-50 result-footer-kesan">
            </div>
        </div>
        <br>
        <!-- footer items-->
        <div class="row">
            <!-- section untuk biodata -->
            <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="informasi">
                <div class="alamat">
                    <h2 style="font-weight: bold;"> Alamat Kami </h2>
                    <p>
                        Jalan Groupthink <br> Kecamatan Scele <br> Kabupaten PPW
                    </p>
                </div>
                <div class="sosmed">
                    <h2 style="font-weight: bold;"> Ikuti Kami </h2>
                    <img src="{% static 'toko/img/ig.png' %}" alt="logo-fb" style="width: 30px; height: 25px">
                    <span id="IG"> Setoko </span>
                    <br>
                    <img src="{% static 'toko/img/fb.png' %}" alt="logo-fb" style="width: 30px; height: 30px">
                    <span id="FB"> Setoko </span>
                    <br>
                    <img src="{% static 'toko/img/twit.png' %}" alt="logo-fb" style="width: 25px; height: 25px">
                    <span id="TWT"> Setoko </span>
                </div>
            </div>
            <!-- tutup section -->

            <!-- section untuk form -->
            <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="hubungikami">
                <h2 style="font-weight: bold;"> Masukkan Pesan Anda untuk Kami </h2>
                <form id="usrform">
                    {% csrf_token %}
                    <!-- Cek udah log in ato belom -->
                    {% if not user.is_anonymous %}
                    <div class="form-group ">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control" name="input_email_user" id="email" maxlength="70" placeholder="cantik@gmail.com " required>
                    </div>
                    <div class="form-group ">
                        <label for="pesan ">Pesan</label>
                        <textarea name="input_pesan" id="pesan" class="form-control form-control-lg" maxlength="1000" form="usrform" style="height: 250px;" placeholder="Masukkan pesan anda"></textarea>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="nama"> Nama </label>
                        <input type="text" class="form-control" name="input_nama" id="nama" maxlength="70" placeholder="Masukkan nama" required>
                    </div>
                    <div class=" form-group ">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control" name="input_email_user" id="email" maxlength="70" placeholder="cantik@gmail.com " required>
                    </div>
                    <div class="form-group ">
                        <label for="pesan ">Pesan</label>
                        <textarea name="input_pesan" id="pesan" class="form-control form-control-lg" maxlength="1000" form="usrform" style="height: 250px;" placeholder="Masukkan pesan anda"></textarea>
                    </div>
                    {% endif %}
                    <button type="submit " class="btn btn-primary footer-form-submit">Submit</button>
                </form>
            </div>
            <!-- tutup section untuk form -->
        </div>
        <!-- tutup section row-->
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // fungsi untuk return ajax untuk slider
    function slider() {
        $.ajax({
            url: "{% url 'contactus:testimoni' %}",
            success: function(response) {
                response = JSON.parse(response)
                $('.result-footer-indicators').empty();
                $('.result-footer-kesan').empty();
                if (response.length == 0) {
                    $('.result-footer-indicators').append(
                        `
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>      
                        `
                    );
                    $('.result-footer-kesan').append(
                        `
                        <div class="carousel-item active">
                            <h1 class="caro-font" style="text-align: center;">
                                Belum ada yang tambahin <br> yuk tambahin dulu lewat form dibawah
                            </h1>
                        </div>        
                        `
                    );
                } else {
                    $('.result-footer-indicators').append(
                        `
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>      
                        `
                    );
                    $('.result-footer-kesan').append(
                        `
                            <div class="carousel-item active">
                                <h1 class="caro-font" style="text-align: center;">
                                       Berikut adalah 
                                </h1>
                                <h2 class="caro-font" style="text-align: center;">
                                    <i>
                                        testimoni dari user kami
                                    </i>
                                </h2>
                
                            </div>        
                        `
                    );
                    // membuat batasan apabila lebih dari 10 maka akan dibuat random
                    var indeksout = [];
                    if (response.length >= 9) {
                        for (i = 0; i < 9; i++) {
                            indeksout.push(Math.floor(Math.random() * response.length));
                        }
                    } else {
                        for (i = 0; i < response.length; i++) {
                            indeksout.push(i);
                        }
                    }
                    // for loop menampilkan slider
                    for (i = 1; i <= indeksout.length; i++) {
                        $('.result-footer-indicators').append(
                            `
                                <li data-target="#carouselExampleIndicators" data-slide-to="` + i + `"></li>      
                            `
                        );
                        $('.result-footer-kesan').append(
                            `
                                <div class="carousel-item">
                                    <h1 class="caro-font" style="text-align: center;">
                                        ` + response[indeksout[i - 1]].fields.Nama + `
                                    </h1>
                                    <h2 class="caro-font" style="text-align: center;"><i>
                                        ` + response[indeksout[i - 1]].fields.Pesan + `
                                    </i>
                                    </h2>
                                </div>        
                            `
                        );
                    } // close for loop
                } // close if else
            },
        }); // close ajax
    }

    function popup($namauser) {
        $("body").append(
            `
            <div class="overlay" onclick="turnOff()">
                <div class="overlay-item">
                    <h3> Terima Kasih Telah Menambahkan Pesan ` + $namauser + `</h3>
                    <br>
                    <button id="overlay-close" onclick="turnOff()" > OK </button>
                </div>
            </div>
            `
        );
    }

    function turnOff() {
        $(".overlay").remove();
    }

    function validateEmail($email) {
        if ($email == "") {
            return false;
        }
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }

    function validatePesan($pesan) {
        if ($pesan == "") {
            return false;
        } else {
            return true;
        }
    }

    function validateUsername($username) {
        if ($username == "") {
            return false;
        } else {
            return true;
        }
    }

    function jsEscape(str) {
        var output = "";
        // encoder javascript
        output = String(str).replace(/[^\w. ]/gi, function(c) {
            return '\\u' + ('0000' + c.charCodeAt(0).toString(16)).slice(-4);
        });
        // encoder html
        output = String(str).replace(/[^\w. ]/gi, function(c) {
            return '&#' + c.charCodeAt(0) + ';';
        });
        return output;
    }

    $(document).ready(function() {
        slider(); // panggil fungsi slider

        $("#nama").focus(function() {
            $(this).css("border", "2px solid #000");
            if ($('.w-input-username').length) {
                $('.w-input-username').remove();
            }

        })

        $("#nama").blur(function() {
            $(this).css("border-color", "");
        })

        $("#email").focus(function() {
            $(this).css("border", "2px solid #000");
            if ($('.w-input-email').length) {
                $('.w-input-email').remove();
            }

        })

        $("#email").blur(function() {
            $(this).css("border-color", "");
        })

        $("#pesan").focus(function() {
            $(this).css("border", "2px solid #000");
            if ($('.w-input-pesan').length) {
                $('.w-input-pesan').remove();
            }
        })

        $("#pesan").blur(function() {
            $(this).css("border-color", "");
        })

        // form submit ajax
        $('.footer-form-submit').click(function(e) {
            e.preventDefault();
            if (validateEmail($('#email').val()) && validatePesan($('#pesan').val())) {
                DjangoLogin = "{{request.user}}";
                if (DjangoLogin == "AnonymousUser") {
                    if (validateUsername($('#nama').val())) {
                        $.ajax({
                            type: "POST",
                            url: "/contactus/simpan/",
                            data: {
                                input_nama: jsEscape($('#nama').val()),
                                input_email_user: jsEscape($('#email').val()),
                                input_pesan: jsEscape($('#pesan').val()),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function(response) {
                                popup(response.message);
                                $('#usrform')[0].reset();
                                slider();
                            },
                        });
                    } else {
                        if (!$('.w-input-username').length) {
                            $(`<p class="wrong-input-form w-input-username"> Maaf Username Harus Diisi </p>`).insertAfter("#nama");
                        }
                    }
                } else {
                    console.log('masuk ke non anonymous');
                    $.ajax({
                        type: "POST",
                        url: "/contactus/simpan/",
                        data: {
                            input_nama: DjangoLogin,
                            input_email_user: jsEscape($('#email').val()),
                            input_pesan: jsEscape($('#pesan').val()),
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(response) {
                            popup(response.message);
                            $('#usrform')[0].reset();
                            slider();
                        },
                    });
                }
            } else if (validateEmail($('#email').val()) == false) {
                if (!$('.w-input-email').length) {
                    $(`<p class="wrong-input-form w-input-email"> Maaf Email Tidak Valid </p>`).insertAfter("#email");
                }
            } else {
                if (!$('.w-input-pesan').length) {
                    $(`<p class="wrong-input-form w-input-pesan"> Maaf Pesan Harus Diisi </p>`).insertAfter("#pesan");
                }
            }
        }); // close footer submit
    }); // close js
</script>