{% load static %}
<style>
    
    div.notif{
        padding: 10px;
        border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
    }

    div.notif p.notif-tanggal{
        color: grey;
        font-size: 0.75em;
    }

    div.bg-orange{
        background: #FFC93C;
    }

    nav {
        background: linear-gradient(-180deg, rgb(245, 61, 45), rgb(255, 102, 51));
        width: 100%;
        height: 120px;
    }

    div.upper-left a, div.upper-right a {
        font-size: 0.95rem;
        font-weight: 300;
        padding: 0 .4375rem;
        color: white;
        font-family: "Segoe UI";
    }

    div.upper-left {
        display: flex;
    }

    div.upper-right{
        display: flex;
    }

    div.upper div.container{
        height: 34px;
        padding: 10px;
        padding-top: 5px;
        display: flex;
        justify-content: space-between
    }

    span{
        font-size: 0.95rem;
        font-weight: 300;
        padding: 0 .4375rem;
        color: white !important;
    }

    div.lower{
        margin-top: 15px;
    }

    .searchbar{
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        justify-content: space-between;
        height: 2.5rem;
        box-sizing: border-box;
        padding: 0.1875rem;
        border-radius: 2px;
        background: #FFF;
      }

      .searchbar-main{
        display: flex;
        flex: 1;
        -webkit-box-direction: normal;
      }

      .searchbar-input{
        background: #FFF;
        border-color: #FFF;
        box-sizing: border-box;
        padding-left: 0.625rem;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-direction: normal;
      }

      .searchbar-input__input{
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        align-items: center;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        line-height: normal;
        color: inherit;
        font: inherit;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-align: start;
        appearance: textfield;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        cursor: text;
      }

      button {
        background: #fb5533;
        color: #FFF;
        height: 34px;
        padding: 0 15px;
        min-width: 60px;
        max-width: 190px;
        display: inline-flex;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkite-line-clamp: 1;
        flex-direction: column;
        font-size: 14px;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
        border-radius: 2px;
        border: 0;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-transform: capitalize;
        outline: 0;
        cursor: pointer;

      }

      g{
        fill: white;
      }

      .setoko-logo{
        height: 50px;
      }

      .cart{
        fill: white;
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: #FFF;
        stroke: #FFF;
      }

      .cart-container{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .notif-button{
        background: transparent;
        border: none;
        box-shadow: none;
      }

      .account-button, .donasi-button {
        background: transparent;
        border: none;
        box-shadow: none;
        font-family: "Segoe UI";
        font-size: 0.95rem;
        font-weight: 300;
        padding: 0 .4375rem;
      }

      .account-dropdown a{
        color: black !important;
      }

</style>

<nav>
    <div class="upper">
        <div class="container">
            <div class="upper-left">
                <a href="{% url 'toko:tambah' %}">Jual</a>
                <div class="dropdown">
                    <button class="donasi-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline">
                        Donasi
                    </button>
                    <div class="dropdown-menu account-dropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'donasi:donasi'    %}">Donasi</a>
                        <a class="dropdown-item" href="{% url 'donasi:totaldonasi' %}">Laporan Donasi</a>
                    </div>
                </div>   
            </div>
            <div class="upper-right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="notif-button" type="button" id="notif-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg id="notif-svg" fill="rgba(255, 255, 255, 1)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="-43 0 512 512" width="20px">
                                {% if newNotif %}
                                    <path fill="white" d="m213.332031 512c-44.09375 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.546875 48 48 48s48-21.523438 48-48c0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.902343 80-80 80zm0 0"/>
                                    <path fill="white" d="m389.332031 448h-352c-20.585937 0-37.332031-16.746094-37.332031-37.332031 0-10.925781 4.757812-21.269531 13.054688-28.375.535156-.46875 1.109374-.894531 1.707031-1.28125 31.316406-27.328125 49.238281-66.644531 49.238281-108.160157v-59.519531c0-82.34375 67.007812-149.332031 149.332031-149.332031 3.414063 0 7.105469.0625 10.519531.640625 8.722657 1.449219 14.613282 9.707031 13.160157 18.410156-1.449219 8.703125-9.855469 14.59375-18.410157 13.140625-1.707031-.277344-3.582031-.191406-5.269531-.191406-64.679687 0-117.332031 52.628906-117.332031 117.332031v59.519531c0 51.542969-22.59375 100.3125-61.929688 133.78125-.320312.257813-.597656.492188-.941406.726563-.574218.726563-1.128906 1.835937-1.128906 3.308594 0 2.898437 2.433594 5.332031 5.332031 5.332031h352c2.902344 0 5.335938-2.433594 5.335938-5.332031 0-1.496094-.554688-2.582031-1.152344-3.308594-.320313-.234375-.597656-.46875-.917969-.726563-39.359375-33.492187-61.929687-82.238281-61.929687-133.78125v-23.25c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v23.25c0 41.539063 17.941406 80.875 49.300781 108.226563.574219.382813 1.128906.789063 1.640625 1.238281 8.300781 7.082032 13.058594 17.425782 13.058594 28.351563 0 20.585937-16.746094 37.332031-37.335938 37.332031zm0 0"/>
                                    <path fill="white" d="m362.667969 213.332031c-58.816407 0-106.667969-47.847656-106.667969-106.664062 0-58.816407 47.851562-106.667969 106.667969-106.667969 58.816406 0 106.664062 47.851562 106.664062 106.667969 0 58.816406-47.847656 106.664062-106.664062 106.664062zm0-181.332031c-41.175781 0-74.667969 33.492188-74.667969 74.667969 0 41.171875 33.492188 74.664062 74.667969 74.664062 41.171875 0 74.664062-33.492187 74.664062-74.664062 0-41.175781-33.492187-74.667969-74.664062-74.667969zm0 0"/>
                                    <path fill="white" d="m213.332031 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0"/>
                                {% else %}
                                    <path d="m213.332031 512c-44.117187 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.527344 48 48 48 26.476563 0 48-21.523438 48-48 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.882812 80-80 80zm0 0"/>
                                    <path d="m389.332031 448h-352c-20.585937 0-37.332031-16.746094-37.332031-37.332031 0-10.925781 4.757812-21.269531 13.054688-28.375 32.449218-27.414063 50.945312-67.261719 50.945312-109.480469v-59.480469c0-82.34375 66.988281-149.332031 149.332031-149.332031 82.347657 0 149.335938 66.988281 149.335938 149.332031v59.480469c0 42.21875 18.496093 82.066406 50.730469 109.332031 8.511718 7.253907 13.269531 17.597657 13.269531 28.523438 0 20.585937-16.746094 37.332031-37.335938 37.332031zm-176-352c-64.703125 0-117.332031 52.628906-117.332031 117.332031v59.480469c0 51.644531-22.632812 100.414062-62.078125 133.757812-.75.640626-1.921875 1.964844-1.921875 4.097657 0 2.898437 2.433594 5.332031 5.332031 5.332031h352c2.902344 0 5.335938-2.433594 5.335938-5.332031 0-2.132813-1.175781-3.457031-1.878907-4.054688-39.488281-33.386719-62.121093-82.15625-62.121093-133.800781v-59.480469c0-64.703125-52.628907-117.332031-117.335938-117.332031zm0 0"/>
                                    <path d="m213.332031 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0"/>
                                {% endif %}
                            </svg>
                        </button>
                        <div class="dropdown-menu" id="notif-content" aria-labelledby="dropdownMenuButton">
        
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="account-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Halo, {{user.username}}
                        </button>
                        <div class="dropdown-menu account-dropdown" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'toko:toko_user' user.id %}">Toko Saya</a>
                            <a class="dropdown-item" href="{% url 'checkout:riwayat' %}">Riwayat Pembelian</a>
                            <a class="dropdown-item" href="{% url 'authuser:logout' %}">Keluar</a>
                        </div>
                    </div>
                {% endif %}
                {% if user.is_anonymous %}
                <a href="{% url 'authuser:register' %}">Daftar &nbsp; | </a>
                <a href="{% url 'authuser:login' %}">Login</a>
                {% endif %}
            </div>
        </div>  
    </div>
    <div class="lower">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'toko:index' %}">
                        <svg viewBox="0 0 192 65" class="setoko-logo logo"><g fill-rule="evenodd"><path d="M35.6717403 44.953764c-.3333497 2.7510509-2.0003116 4.9543414-4.5823845 6.0575984-1.4379707.6145919-3.36871.9463856-4.896954.8421628-2.3840266-.0911143-4.6237865-.6708937-6.6883352-1.7307424-.7375522-.3788551-1.8370513-1.1352759-2.6813095-1.8437757-.213839-.1790053-.239235-.2937577-.0977428-.4944671.0764015-.1151823.2172535-.3229831.5286218-.7791994.45158-.6616533.5079208-.7446018.5587128-.8221779.14448-.2217688.3792333-.2411091.6107855-.0588804.0243289.0189105.0243289.0189105.0426824.0333083.0379873.0294402.0379873.0294402.1276204.0990653.0907002.0706996.14448.1123887.166248.1287205 2.2265285 1.7438508 4.8196989 2.7495466 7.4376251 2.8501162 3.6423042-.0496401 6.2615109-1.6873341 6.7308041-4.2020035.5160305-2.7675977-1.6565047-5.1582742-5.9070334-6.4908212-1.329344-.4166762-4.6895175-1.7616869-5.3090528-2.1250697-2.9094471-1.7071043-4.2697358-3.9430584-4.0763845-6.7048539.296216-3.8283059 3.8501677-6.6835796 8.340785-6.702705 2.0082079-.004083 4.0121475.4132378 5.937338 1.2244562.6816382.2873109 1.8987274.9496089 2.3189359 1.2633517.2420093.1777159.2898136.384872.1510957.60836-.0774686.12958-.2055158.3350171-.4754821.7632974l-.0029878.0047276c-.3553311.5640922-.3664286.5817134-.447952.7136572-.140852.2144625-.3064598.2344475-.5604202.0732783-2.0600669-1.3839063-4.3437898-2.0801572-6.8554368-2.130442-3.126914.061889-5.4706057 1.9228561-5.6246892 4.4579402-.0409751 2.2896772 1.676352 3.9613243 5.3858811 5.2358503 7.529819 2.4196871 10.4113092 5.25648 9.869029 9.7292478M26.3725216 5.42669372c4.9022893 0 8.8982174 4.65220288 9.0851664 10.47578358H17.2875686c.186949-5.8235807 4.1828771-10.47578358 9.084953-10.47578358m25.370857 11.57065968c0-.6047069-.4870064-1.0948761-1.0875481-1.0948761h-11.77736c-.28896-7.68927544-5.7774923-13.82058185-12.5059489-13.82058185-6.7282432 0-12.2167755 6.13130641-12.5057355 13.82058185l-11.79421958.0002149c-.59136492.0107446-1.06748731.4968309-1.06748731 1.0946612 0 .0285807.00106706.0569465.00320118.0848825H.99995732l1.6812605 37.0613963c.00021341.1031483.00405483.2071562.01173767.3118087.00170729.0236381.003628.0470614.00554871.0704847l.00362801.0782207.00405483.004083c.25545428 2.5789222 2.12707837 4.6560709 4.67201764 4.7519129l.00576212.0055872h37.4122078c.0177132.0002149.0354264.0004298.0531396.0004298.0177132 0 .0354264-.0002149.0531396-.0004298h.0796027l.0017073-.0015043c2.589329-.0706995 4.6867431-2.1768587 4.9082648-4.787585l.0012805-.0012893.0017073-.0350275c.0021341-.0275062.0040548-.0547975.0057621-.0823037.0040548-.065757.0068292-.1312992.0078963-.1964115l1.8344904-37.207738h-.0012805c.001067-.0186956.0014939-.0376062.0014939-.0565167M176.465457 41.1518926c.720839-2.3512494"></path></g>
                        </svg>
                    </a>
                </div>
                <div class="col-8">
                    <div class="searchbar">
                        <div class="searchbar-main">
                            <form action="{% url 'toko:search_keyword' 'x' %}" class="searchbar-input" method="POST">
                                {% csrf_token %}
                                <input aria-label="Cari produk, merk, dan toko" type="text" class="searchbar-input__input" placeholder="Cari produk, merk, dan toko" name="keyword">
                            </form>
                        </div>
                        <button type="button"><svg height="19" viewBox="0 0 19 19" width="19" class="shopee-svg-icon "><g fill-rule="evenodd" stroke="none" stroke-width="1"><g transform="translate(-1016 -32)"><g><g transform="translate(405 21)"><g transform="translate(611 11)"><path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z"></path><path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z"></path></g></g></g></g></g></svg>
                </button>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-2 cart-container">
                        <a href="{% url 'toko:cart' %}">
                            <svg viewBox="0 0 26.6 25.6" class="cart"><polyline fill="none" points="2 1.7 5.5 1.7 9.6 18.3 21.2 18.3 24.6 6.1 7 6.1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.5"></polyline><circle cx="10.7" cy="23" r="2.2" stroke="none"></circle><circle cx="19.7" cy="23" r="2.2" stroke="none"></circle></svg>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function parseSVG(s){
        var div= document.createElementNS('http://www.w3.org/1999/xhtml', 'div');
        div.innerHTML= '<svg xmlns="http://www.w3.org/2000/svg">'+s+'</svg>';
        var frag= document.createDocumentFragment();
        while (div.firstChild.firstChild)
            frag.appendChild(div.firstChild.firstChild);
        return frag;
    }

    $(document).ready(() => {
        $.ajax({
            url: "{% url 'toko:get_notif' %}",
            success: (result) => {
                const months = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ];
                let unreaded = false
                result = JSON.parse(result);
                if (result.length == 0){
                    $("#notif-content").append(`
                        <div class="notif">
                            <p>Tidak ada notifikasi</p>
                        </div>
                    `)
                } else {
                    result.forEach((notif) => {
                        const date = new Date(notif.fields.tanggal);
                        if (notif.fields.readed == false){
                            unreaded = true;
                            $("#notif-content").append(`
                                <div class="notif-container">    
                                    <div class="notif bg-orange">
                                        <p class="notif-item">${notif.fields.isi}</p>
                                        <p class="notif-tanggal">${date.getDate()} ${months[date.getMonth()]} ${date.getFullYear()}, </p>
                                    </div>
                                </div>
                            `)
                        } else {
                            $("#notif-content").append(`
                                <div class="notif-container">    
                                    <div class="notif">
                                        <p class="notif-item">${notif.fields.isi}</p>
                                        <p class="notif-tanggal">${date.getDate()} ${months[date.getMonth()]} ${date.getFullYear()}, ${date.getHours()}:${date.getMinutes()} </p>
                                    </div>
                                </div>
                            `)
                        }
                    })
                }
                if (unreaded){
                    $("#notif-svg").empty();
                    $("#notif-svg").append(parseSVG('<path fill="white" d="m213.332031 512c-44.09375 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.546875 48 48 48s48-21.523438 48-48c0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.902343 80-80 80zm0 0"/>'));
                    $("#notif-svg").append(parseSVG('<path d="m389.332031 448h-352c-20.585937 0-37.332031-16.746094-37.332031-37.332031 0-10.925781 4.757812-21.269531 13.054688-28.375 32.449218-27.414063 50.945312-67.261719 50.945312-109.480469v-59.480469c0-82.34375 66.988281-149.332031 149.332031-149.332031 82.347657 0 149.335938 66.988281 149.335938 149.332031v59.480469c0 42.21875 18.496093 82.066406 50.730469 109.332031 8.511718 7.253907 13.269531 17.597657 13.269531 28.523438 0 20.585937-16.746094 37.332031-37.335938 37.332031zm-176-352c-64.703125 0-117.332031 52.628906-117.332031 117.332031v59.480469c0 51.644531-22.632812 100.414062-62.078125 133.757812-.75.640626-1.921875 1.964844-1.921875 4.097657 0 2.898437 2.433594 5.332031 5.332031 5.332031h352c2.902344 0 5.335938-2.433594 5.335938-5.332031 0-2.132813-1.175781-3.457031-1.878907-4.054688-39.488281-33.386719-62.121093-82.15625-62.121093-133.800781v-59.480469c0-64.703125-52.628907-117.332031-117.335938-117.332031zm0 0"/>'));
                    $("#notif-svg").append(parseSVG('<path fill="green" d="m362.667969 213.332031c-58.816407 0-106.667969-47.847656-106.667969-106.664062 0-58.816407 47.851562-106.667969 106.667969-106.667969 58.816406 0 106.664062 47.851562 106.664062 106.667969 0 58.816406-47.847656 106.664062-106.664062 106.664062zm0-181.332031c-41.175781 0-74.667969 33.492188-74.667969 74.667969 0 41.171875 33.492188 74.664062 74.667969 74.664062 41.171875 0 74.664062-33.492187 74.664062-74.664062 0-41.175781-33.492187-74.667969-74.664062-74.667969zm0 0"/>'));
                    $("#notif-svg").append(parseSVG('<path fill="white" d="m213.332031 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0"/>'))
                }
            }
        })
    })

    $("#notif-button").click(
        function(event){
            $("#notif-svg").empty();
            $("#notif-svg").append(parseSVG('<path d="m213.332031 512c-44.117187 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.527344 48 48 48 26.476563 0 48-21.523438 48-48 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.882812 80-80 80zm0 0"/>'));
            $("#notif-svg").append(parseSVG('<path d="m389.332031 448h-352c-20.585937 0-37.332031-16.746094-37.332031-37.332031 0-10.925781 4.757812-21.269531 13.054688-28.375 32.449218-27.414063 50.945312-67.261719 50.945312-109.480469v-59.480469c0-82.34375 66.988281-149.332031 149.332031-149.332031 82.347657 0 149.335938 66.988281 149.335938 149.332031v59.480469c0 42.21875 18.496093 82.066406 50.730469 109.332031 8.511718 7.253907 13.269531 17.597657 13.269531 28.523438 0 20.585937-16.746094 37.332031-37.335938 37.332031zm-176-352c-64.703125 0-117.332031 52.628906-117.332031 117.332031v59.480469c0 51.644531-22.632812 100.414062-62.078125 133.757812-.75.640626-1.921875 1.964844-1.921875 4.097657 0 2.898437 2.433594 5.332031 5.332031 5.332031h352c2.902344 0 5.335938-2.433594 5.335938-5.332031 0-2.132813-1.175781-3.457031-1.878907-4.054688-39.488281-33.386719-62.121093-82.15625-62.121093-133.800781v-59.480469c0-64.703125-52.628907-117.332031-117.335938-117.332031zm0 0"/>'));
            $("#notif-svg").append(parseSVG('<path d="m213.332031 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0"/>'));
            $("#notif-svg").attr("fill", "rgba(255, 255, 255, 1)");
            $.ajax({
                url: "{% url 'toko:clean_notif' %}",
                success: function(result){
                }
            })
        }
    )

    const notif = $(".notif-button").parent();
    notif.hover(() => {
        $(".notif-button").click();
        $("#notif-svg").empty();
        $("#notif-svg").append(parseSVG('<path d="m213.332031 512c-44.117187 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.527344 48 48 48 26.476563 0 48-21.523438 48-48 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.882812 80-80 80zm0 0"/>'));
        $("#notif-svg").append(parseSVG('<path d="m389.332031 448h-352c-20.585937 0-37.332031-16.746094-37.332031-37.332031 0-10.925781 4.757812-21.269531 13.054688-28.375 32.449218-27.414063 50.945312-67.261719 50.945312-109.480469v-59.480469c0-82.34375 66.988281-149.332031 149.332031-149.332031 82.347657 0 149.335938 66.988281 149.335938 149.332031v59.480469c0 42.21875 18.496093 82.066406 50.730469 109.332031 8.511718 7.253907 13.269531 17.597657 13.269531 28.523438 0 20.585937-16.746094 37.332031-37.335938 37.332031zm-176-352c-64.703125 0-117.332031 52.628906-117.332031 117.332031v59.480469c0 51.644531-22.632812 100.414062-62.078125 133.757812-.75.640626-1.921875 1.964844-1.921875 4.097657 0 2.898437 2.433594 5.332031 5.332031 5.332031h352c2.902344 0 5.335938-2.433594 5.335938-5.332031 0-2.132813-1.175781-3.457031-1.878907-4.054688-39.488281-33.386719-62.121093-82.15625-62.121093-133.800781v-59.480469c0-64.703125-52.628907-117.332031-117.335938-117.332031zm0 0"/>'));
        $("#notif-svg").append(parseSVG('<path d="m213.332031 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0"/>'));
        $("#notif-svg").attr("fill", "rgba(255, 255, 255, 1)");
        $.ajax({
            url: "{% url 'toko:clean_notif' %}",
            success: function(result){
            }
        })
    }, () => {
        $(".notif-button").click();
    });

    const account = $(".account-button").parent();
    account.hover(() => {
        $(".account-button").click();
    }, () => {
        $(".account-button").click();
    });
</script>