<html>
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel=icon href="{% static 'toko/img/icon.png' %}">
        <style>
            body {
                background: #f5f5f5 !important;
            }
        </style>

        {% include 'shared/components/styles.html' %}
    </head>

    <body>
        <!-- Navbar Component -->
        {% include 'shared/components/navbar.html' %}

        <!-- Block Content -->
        {% block content %}

        {% endblock content %}

        <!-- Footer Component -->
        {% include 'shared/components/footer.html' %}

        <!-- Scripts Component -->
        {% include 'shared/components/scripts.html' %}
    </body>
</html>