{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
<style>
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}
</style>
<link rel="stylesheet" href="{% static 'toko/css/style.css' %}">
<section id="Edit">
    <div class="container">
        <h1 class="text-center">{{Heading}}</h1>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}

            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="form-group">
                        {% if imageurl != None %}
                            <img src="{{imageurl}}" alt="{{Barang.nama}}" class="img-thumbnail">
                        {% endif %}
                        <div class="preview-zone hidden">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <div><b>Preview</b></div>
                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                <div class="box-body"></div>
                            </div>
                        </div>
                        
                        <label for="id_gambar">Gambar Barang</label>
                        <div class="dropzone-wrapper">
                            <div class="dropzone-desc">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                <p>Choose an image file or drag it here.</p>
                            </div>
                            {{Form.gambar}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_harga">Harga Barang</label>
                        {{Form.harga}}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8">
                    <div class="form-group">
                        <label for="id_nama">Nama Barang</label>
                        {{Form.nama}}
                    </div>
                    <div class="form-group">
                        <label for="id_deskripsi">Deskripsi Barang</label>
                        {{Form.deskripsi}}
                    </div>
                    <div class="form-group">
                        <label for="id_kategori">Kategori Barang</label>
                        {{Form.kategori}}
                    </div>
                    <input type="select" name="penjual" value="{{user.id}}" hidden>
                    <button type="submit" class="btn btn-success btn-block">{{successButtonText}}</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
function readFile(input) {
 if (input.files && input.files[0]) {
 var reader = new FileReader();
 
 reader.onload = function (e) {
 var htmlPreview = 
 '<img width="200" src="' + e.target.result + '" />'+
 '<p>' + input.files[0].name + '</p>';
 var wrapperZone = $(input).parent();
 var previewZone = $(input).parent().parent().find('.preview-zone');
 var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');
 
 wrapperZone.removeClass('dragover');
 previewZone.removeClass('hidden');
 boxZone.empty();
 boxZone.append(htmlPreview);
 };
 
 reader.readAsDataURL(input.files[0]);
 }
}
function reset(e) {
 e.wrap('<form>').closest('form').get(0).reset();
 e.unwrap();
}
$(".dropzone").change(function(){
 readFile(this);
});
$('.dropzone-wrapper').on('dragover', function(e) {
 e.preventDefault();
 e.stopPropagation();
 $(this).addClass('dragover');
});
$('.dropzone-wrapper').on('dragleave', function(e) {
 e.preventDefault();
 e.stopPropagation();
 $(this).removeClass('dragover');
});
$('.remove-preview').on('click', function() {
 var boxZone = $(this).parents('.preview-zone').find('.box-body');
 var previewZone = $(this).parents('.preview-zone');
 var dropzone = $(this).parents('.form-group').find('.dropzone');
 boxZone.empty();
 previewZone.addClass('hidden');
 reset(dropzone);
});
</script>
{% endblock content %}