{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
{% load humanize %}

<style>
    .pesanan-container{
        width: 100%;
        background: white;
        display: flex;
        margin-bottom: 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }

    .pesanan-img{
        width: 150px;
    }

    .pesanan-data {
        padding: 10px;
        width: 100%;
    }

    .pesanan-price-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pesanan-total-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cart-upper{
        width: 100%;
        height: 35px;
        background: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

</style>

<link rel="stylesheet" href="{% static 'toko/css/style.css' %}">

<section id="cart">
    <div class="container">
        <h1>Keranjang belanjaan anda</h1>
        <br>
        <form action="{% url 'checkout:checkout' %}" method="POST">
            {% csrf_token %}
            {% if items|length > 0 %}     
                {% for item, jumlah, id in items %}
                    <div>
                        <div class="cart-upper">
                            <input type="checkbox" value="{{id}}" hidden class="cart-id" name="carts">
                            <input type="checkbox" value="{{item.id}}" class="checkmark" name="items">
                        </div>
                        <div class="pesanan-container">
                            <div class="pesanan-image">
                                <img src="{{item.gambar.url}}" class="pesanan-img">
                            </div>
                            <div class="pesanan-data">
                                <h3>{{item.nama}}</h3>
                                <div class="pesanan-price-container">
                                    <p>{{jumlah}}x</p>
                                    <p style="color: #ee4d2d">Rp{{item.harga}}</p>
                                </div>
                                <br>
                                <div class="pesanan-total-container">
                                    <p style="color: black; margin-left: 10px">Total Harga &nbsp;</p>
                                    <h3 style="color: #ee4d2d">
                                        Rp {% widthratio jumlah 1 item.harga %}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div style="display: flex; width: 100%; flex-direction: row-reverse;">
                    <button id="checkout-button">Checkout</button>    
                </div>
            {% else %}
                <h3 style="text-align: center;">Anda belum punya pesanan</h3>
            {% endif %}
        </form>
    </div>
</section>

<script>
    let clicked = 0;
    $(".checkmark").click((event) => {
        if (event.target.checked){
            clicked += 1;
            event.target.parentElement.querySelector("input").checked = true;
        } else {
            clicked -= 1;
            event.target.parentElement.querySelector("input").checked = false;
        }

        if (clicked > 0){
            $("#checkout-button").show();
        } else {
            $("#checkout-button").hide();
        }
    })

    $(document).ready(() => {
        $("#checkout-button").hide();
    })
</script>

{% endblock content %}