{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'toko/css/style.css' %}">
<section id="hapus">
    <div class="container">
        <h2 class="text-center">Apakah Anda Yakin Ingin Menghapus Barang {{barang.nama}}?</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-12" style="display: flex; justify-content: center">
                    <button type="submit" class="btn btn-danger btn-block">Hapus</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}