{% extends 'shared/base.html' %}

{% block title %}
Setoko | Pemersatu UMKM Indonesia
{% endblock title %}

{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'toko/css/style.css' %}">
<section id="toko">
    <div class="container">
        {% if not user.is_anonymous %}
            <a href="{% url 'toko:tambah' %}" class="btn" style="background: #FF6F3C; color: white">Tambah Barang</a>
        {% endif %}
        <h4>Menampilkan {{queryResult}}</h4>
        <div class="row">
            {% for item in Items %}
                <div class="col-md-2 col-sm-6 col-6 d-flex align-item-stretch justify-content-center item-card-box" style="margin-bottom: 50px">
                    <div class="item-card">
                        {% if user.is_authenticated %}
                            {% if item.penjual.id == user.id %}
                                <div class="item-card-top" style="display: flex; justify-content: flex-end; padding: 5px">
                                    <a href="{% url 'toko:edit' item.id %}" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <svg fill="#FF6F3C" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'toko:hapus' item.id %}" data-toggle="tooltip" data-placement="top" title="Hapus">
                                        <svg fill="#FF6F3C" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;">
                                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                        </svg>
                                    </a>

                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="item-image">
                            <img src="{{item.gambar.url}}" alt="" style="width: 100%;">
                        </div>
                        <div class="item-card-info">
                            <p class="item-name">{{item.nama}}</p>
                            <p class="item-price">Rp{{item.harga|intcomma}}</p>
                        </div>
                        <a href="{% url 'detail:detail' item.id %}">
                            <div class="detail-box">
                                <p>Lihat Detail</p>
                            </div>
                        </a>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>

{% endblock content %}