*{
    margin: 0;
    padding: 0;
}

div.card-nav{
    display: flex;
    justify-content: flex-end;
}

section{
    margin-top: 50px;
}

div.card{
    margin-bottom: 15px !important;
}

div a{
    text-decoration: none !important;
}

button.btn{
    margin-bottom: 10px !important;
}

.categori-container{
	background: white;
}

.kategori-upper{
	background: white;
	width: 100%;
	height: 3.75rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 10px;
}

.kategori-upper p{
	font-size: 1rem;
	color: rgba(0, 0, 0, .54);
	font-weight: 500;
}

img.kategori-img{
	height: 76px;
	width: 83px;
}

div.row{
	margin: 0px;
}

div.category-box-container {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 0.5px solid rgba(220, 220, 220, 0.5);
}

div.category-box-container p{
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.875rem;
	text-align: center;
}

div.item-card{
	background: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.item-card-info {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	bottom: 0;
}

.item-name{
	font-size: 0.875rem;
}

.item-price{
	font-size: 1rem;
	color: #ee4d2d;
}

.detail-box{
	position: absolute;
	bottom: -40;
	left: 0;
	right: 0;
	background: #ee4d2d;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}